* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 350px;
  height: 600px;
}

.display {
  height: 130px;
  padding: 50px 15px 0px;
  text-align: right;
  font-size: 50px;
  background-color: rgb(42, 46, 55);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: rgb(200, 203, 210);
  font-family: "M PLUS 1p", sans-serif;
}

.btns {
  display: flex;
  flex-direction: column;
  height: 470px;
}

.btns > div {
  display: flex;
  flex: 1;
}

button {
  border: none;
}

.primary-btn,
.operator-btn,
.secondary-btn {
  flex: 1 1 0;
}

.clear,
.zero {
  flex: 2 1 0;
}

.zero {
  border-bottom-left-radius: 20px;
}

.equal {
  border-bottom-right-radius: 20px;
}