* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "M PLUS 1p", sans-serif;
}

:root {
  --shadow-color: 225deg 3% 50%;
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  background-color: rgb(205, 206, 209);
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 350px;
  height: 600px;
  box-shadow: var(--shadow-elevation-high);
  border-radius: 20px;
}

.display {
  height: 130px;
  padding: 50px 15px 0px;
  text-align: right;
  font-size: 50px;
  background-color: rgb(42, 46, 55);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: rgb(200, 203, 210);
}

.overflow-active {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  white-space: nowrap;
}

.btns {
  display: flex;
  flex-direction: column;
  height: 470px;
}

.btns > div {
  display: flex;
  flex: 1;
}

button {
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.primary-btn,
.operator-btn,
.secondary-btn {
  flex: 1 1 0;
  color: rgb(200, 203, 210);
}

.primary-btn,
.secondary-btn {
  border-right: 2px solid rgb(42, 46, 55);
}

.primary-btn {
  background-color: rgb(66, 68, 73);
  transition: background-color 0.3s ease;
}

.secondary-btn {
  background-color: rgb(104, 107, 113);
  transition: background-color 0.3s ease;
}

.operator-btn {
  background-color: rgb(60, 95, 183);
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: rgb(49, 50, 54);
}

.secondary-btn:hover {
  background-color: rgb(82, 84, 89);
}

.operator-btn:hover {
  background-color: rgb(45, 70, 136);
}

.row-2-btns,
.row-3-btns,
.row-4-btns,
.row-5-btns {
  border-top: 2px solid rgb(42, 46, 55);
}

.clear,
.zero {
  flex: 2 1 4px;
}

.zero {
  border-bottom-left-radius: 20px;
}

.equal {
  border-bottom-right-radius: 20px;
}
