* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: gray;
  padding: 20px;
}

.display {
  text-align: right;
}